<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ManifestOrder">
    
    <application
    android:name=".FCLApplication"
    tools:replace="android:name"
    tools:node="merge">
    <!-- 友盟配置 -->
        
        <!-- 添加友盟配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="69e0f1b36f259537c79a2e80" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="1853c4972a25c98245161c0bc6593e08" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GitHub" />
        
        <!-- 添加友盟推送服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentService"
            android:exported="false" />
        <activity
    android:name="com.tungsten.fclauncher.MfrMessageActivity"
    android:exported="true"
    android:launchMode="singleTask">
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:host="${applicationId}"
            android:path="/thirdpush"
            android:scheme="agoo" />
    </intent-filter>
</activity>
            
        <receiver
            android:name="com.umeng.message.UmengMessageReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </receiver>
        
    </application>

    <!-- 添加必要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>
